
.second .activ:hover{
    transform: scale(0.9);
    text-decoration: underline;

}
.second .activ{
    color: #3f23a2;
    overflow: hidden;
    transition: 0.25s ease;
    font-weight: bolder;
}




header > .second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second img {
    height: 150px;
}

.second img {
    height: 150px;
    margin-left: -34px;
}
.second img:hover{
    filter: hue-rotate(800deg);
    
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 44px;;
    color: #e1466fe4;
    margin-bottom: 10px;
    font-weight: 100;
}
#zzz .first h2{
    margin-top: 10px;
    font-weight: 490;
    
    color: rgb(53, 53, 53);
}
.first > p {
    font-size: smaller;
    color: rgba(45, 45, 45, 0.771);
    margin-bottom: 20px;
}

.second ul {
    display: flex;
    gap: 20px;
    align-self: center;
    list-style: none;
    font-size:12px;
}

.second ul li{
    overflow: hidden;
    transition: 0.25s ease;
}

.second ul li:hover{
    transform: scale(0.9);
    text-decoration: underline;
    
}

.second a{
    color: dimgray;
    text-decoration: none;
    
}
.second .logo{
    margin-left: -1px;
}

#zzz {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    width: 850px;
}


.first nav  {
    height: 45px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.first nav a {
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0px;
    overflow: hidden;
    transition: 0.25s ease;
}
.first nav a:hover{
    transform: scale(1.05);
}
#zzz span{
    font-size:xx-small;
}
.lien-1{
    background-color:#03a9f4;
}
.lien-2{
    background-color: #0077b5;
}
.lien-3{
    background-color: black;
}
.first nav img{
    height: 20px;
}

.illustration{
    height: 300px;
}

.MainOfAPropos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

body{
    margin: auto;
    max-width: 850px;
    font-family: 'Montserrat', sans-serif;
}

#zzz .first p{
    font-size: 11px;
    display: flex;
    text-align: justify;
}

#zzz .first h2{
    font-size: 26px;
}

