nav {
    display: flex;
}

nav ul {
    
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    gap: 15px;
    width: 95%;
    max-width: 1100px;
    align-self: center;
    list-style: none;
}

nav a{
    color: dimgray;
    text-decoration: none;
    
    
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;

}

h3 {
    color: hotpink;
}

a {
    color: hotpink;
}
    

h1{
    font-family: 'Abril Fatface', cursive;
}