.index-html{
    margin: auto;
    max-width: 850px;
    font-family: 'Montserrat', sans-serif;
}
header > .second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second img {
    height: 150px;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 44px;;
    color: #e1466fe4;
    margin-bottom: 10px;
    font-weight: 100;
}
#zzz .first h2{
    margin-top: 10px;
    font-weight: 490;
    font-size: 44px;
    color: rgb(53, 53, 53);
}
.first > p {
    font-size: smaller;
    color: rgba(45, 45, 45, 0.771);
    margin-bottom: 20px;
}

.second ul {
    display: flex;
    gap: 20px;
    align-self: center;
    list-style: none;
    font-size:12px;
}

.second ul li{
    overflow: hidden;
    transition: 0.25s ease;
}

.second ul li:hover{
    transform: scale(0.9);
    text-decoration: underline;
    
}

.second a{
    color: dimgray;
    text-decoration: none;
}

#zzz {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}


.first nav  {
    height: 45px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.first nav a {
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0px;
    overflow: hidden;
    transition: 0.25s ease;
}
.first nav a:hover{
    transform: scale(1.05);
}
#zzz span{
    font-size:xx-small;
}
.lien-1{
    background-color:#03a9f4;
}
.lien-2{
    background-color: #0077b5;
}
.lien-3{
    background-color: black;
}
.first nav img{
    height: 20px;
    
}
#zzz .illustration img{
    height: 300px;
}
.illustration{
    display: flex;
    align-self: flex-start;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 400px;
    margin-top: 130px;

}


.fourth img {
    width: 100%;
    margin-top: 30px;
}


.fourth span {
    font-size: 9px;
    font-weight:600;
    color: rgba(50, 50, 50, 0.855);
}

.fourth p{
    font-size: 10px;
    color: rgba(59, 59, 59, 0.824);
}


.fourth a{
    text-decoration: none;
    color: #e1466fe4 ;
}

.fourth h3{
    font-weight:600;
    font-size: 16px;
    color: #e1466fe4;
    margin-top: 5px;
    margin-bottom: 2px;
}



.fourth a {
    font-size:11px;
    position: relative;
}


.fourth a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 74%;
    background-color: #e1466fe4;
    transition: width 0.3s ease-in-out; 
}

.fourth a:hover::after {
    width: 100%;
}






























/* css page CV */
.centrage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.erreur{
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 600;
    font-family: 'Abril Fatface', cursive;
    color: #00129b;
    margin: 30px;
}